/* Login.css */

.login-page {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.login-page input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
}

.login-page button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #0056b3;
}

.login-page p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Styling for GoogleLogin component (if required) */
/* .google-login {
  // Add your styles here
} */
