/* Requests.css */

.request-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .request-item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .request-item:hover {
    transform: translateY(-5px);
  }
  
  /* Styles for icons */
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }
  
  .icon-container.praying-hands {
    background-color: #ffcc00;
  }
  
  .icon-container svg {
    vertical-align: middle;
  }
  
  /* Styles for text */
  .username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .user-request {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  /* Media query for responsive design */
  @media screen and (max-width: 600px) {
    .request-item {
      width: 100%;
      margin: 10px;
    }
  }
  