/* LoadingScreen.css */

/* Styles for the loading screen */
.loading-screen {
   
  
   margin-top: 100px;
    justify-content: center;
  margin-left: 550px;
  }
  
  .loading-screen img {
    width: 200px;
    
  }
  
  .loading-screen p {
    font-size: 16px;
   
    color: #888;
   
  }
  
@media screen and (max-width : 468px ){
  /* Mobile LoadingScreen Styles */
.loading-screen {
  margin-top: 200px;
  margin-left: 100px;
}

.loading-screen img {
  width: 150px;
}

.loading-screen p {
  font-size: 10px;
  color: #888;
  margin-top: 10px;
}

}